.about__container {
  position: relative;
  row-gap: 3.5rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__img {
  width: 320px;
  justify-self: center;
}

.about__snow-1,
.about__snow-2 {
  width: 50px;
  position: absolute;
}

.about__snow-1 {
  top: 12rem;
  left: 1.5rem;
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background 0.4s, box-shadow 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px hsla(210, 80%, 54%, 0.7s);
}
