.send__container {
  position: relative;
  grid-template-columns: 200px;
  justify-content: center;
  row-gap: 5rem;
  padding-top: 1.5rem;
}

.send__card {
  text-align: center;
}

.send__img {
  width: 180px;
  margin-bottom: 0.75rem;
}

.send__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.send__description {
  font-size: var(--small-font-size);
  padding-inline: 1.5rem;
}

.send__snow-1,
.send__snow-2,
.send__snow-3 {
  width: 50px;
  position: absolute;
}

.send__snow-1 {
  left: 0;
  top: 7rem;
}

.send__snow-2 {
  left: 23rem;
  right: 0;
}

.send__snow-3 {
  bottom: 9rem;
  left: 0;
  left: 24rem;
}
